MONGO_URL=mongodb+srv://YOUR_USER:YOUR_PASS@YOUR_CLUSTER.mongodb.net/lendflow?retryWrites=true&w=majority
MONGO_DB_NAME=lendflow
SECRET_KEY=change-me-in-production-please
STRIPE_SECRET_KEY=
TWILIO_ACCOUNT_SID=
SENDGRID_API_KEY=
DEBUG=false
